

@media all {
  .bootmark-main {
    width: 600px;
    margin: auto;
  }

  .todo {
    background-color: khaki;
    border:1px solid black;
  }

  body{counter-reset: section}
  #content h1{counter-reset: sub-section}
  #content h2{counter-reset: composite}
  #content h3{counter-reset: detail}

  #content h1:before{
    counter-increment: section;
    content: counter(section) " ";
  }
  #content h2:before{
    counter-increment: sub-section;
    content: counter(section) "." counter(sub-section) " ";
  }
  #content h3:before{
    counter-increment: composite;
    content: counter(section) "." counter(sub-section) "." counter(composite) " ";
  }
  #content h4:before{
    counter-increment: detail;
    content: counter(section) "." counter(sub-section) "." counter(composite) "." counter(detail) " ";
  }
}

@page {
  size: A4 portrait;
  margin-top: 3cm;
  margin-bottom: 3cm;
  margin-left: 3cm;
  margin-bottom: 3cm;
}

@page :first {
  margin: auto;
}


@media print
{
  #content h1 {
    page-break-before:always;
  }

  h1, h2, h3, h4, h5 {
    page-break-after: avoid;
  }

  table, figure {
    page-break-inside: avoid;
  }

  .page-break {
    page-break-after: always;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  .url {
    color: white;
  }
}