

@media all {
  .bootmark-main {
    width: 600px;
    margin: auto;
  }  
}

@page {
  size: A4 portrait;
  margin-top: 3cm;
  margin-bottom: 3cm;
  margin-left: 3cm;
  margin-bottom: 3cm;
}


@media print
{
  #content h1 {
    page-break-before:always;
  }

  h1, h2, h3, h4, h5 {
    page-break-after: avoid;
  }

  table, figure {
    page-break-inside: avoid;
  }

  .page-break {
    page-break-after: always;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  .url {
    color: white;
  }
}