

@media all {
  #content {
    display: table;
  }
  
  #pageFooter {
    display: table-footer-group;
  }
  
  #pageFooter:after {
    counter-increment: page;
    content:"Page " counter(page);
    left: 0; 
    top: 100%;
    white-space: nowrap; 
    z-index: 20px;  
  }

  .bootmark-main {
    width: 600px;
    margin: auto;
  }  
}

@page {
  size: A4 portrait;
  margin-left: 3cm;
  margin-bottom: 3cm;
}


@media print
{
  #content h1 {
    page-break-before:always;
  }

  h1, h2, h3, h4, h5 {
    page-break-after: avoid;
  }

  table, figure {
    page-break-inside: avoid;
  }

  .page-break {
    page-break-after: always;
  }

  p {
    orphans: 3;
    widows: 3;
  }
}